/* CardHover */

#card-hover {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: fit-content;
  gap: 30px;
  margin: 0 auto;
  transition-duration: 200ms;
}

#card-hover:hover > :not(.card:hover) {
  opacity: 0.4;
}

.card {
  transition-duration: 200ms;
}

.card:hover {
  scale: 1.05;
}

.card > img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}