.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 30px;
  margin: 0 auto;
  transition-duration: 200ms;
}

.wrapper:hover > :not(.card:hover) {
  opacity: 0.4;
}

.card {
  transition-duration: 200ms;
}

.card:hover {
  scale: 1.05;
}

.card > img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}
